/* PAGE WRAPPER */
.spot-details-wrapper {
    margin-top: 120px;
    max-width: 1120px;
    box-sizing: border-box;
}


/* SPOT DETAILS BODY WRAPPER */
.spot-details-body{
    display: flex;
    border-bottom: 1px solid rgba(118 118 118/0.2);
}
.spot-details-body-leftCol{
    width: 65%;
    flex: 1;
}




/* HOST DETAILS */
.spot-details-hostInfo{
    border-bottom: 1px solid rgba(118 118 118/0.2);
    padding: 3rem 0;
    line-height: 1.7rem;
}

.spot-details-hostInfo-row1{
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem
}

/* QUICK INFO */
.quickInfo-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 1px solid rgba(118 118 118/0.2);
    padding: 3rem 0;
}
.quickInfo{
    display: flex;

}

.quickInfo-col1{
    padding-left: 1rem;
}
.quickInfo-row1{
    font-weight: 500;
}
.quickInfo-row2{
    color: #717171;
    font-size: 0.8rem;
}

/* TITLE DETAILS */
.spot-details-main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.edit-listing{
    color: black;
    font-weight: 600;
}
.spot-details-title-row1{
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 1rem;
    max-width: 88%;

}

.spot-details-title-row2{
    margin-bottom: 1rem;
}

/* DESCRIPTION */
.description-wrapper{
    padding: 3rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2rem;
    /* border-bottom: 1px solid rgba(118 118 118/0.2); */
}

/* AirCover */
.aircover{
    width: fit-content;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    font-weight: 300;
    border-bottom: 1px solid rgba(118 118 118/0.2);
}
/* SPOT IMAGES */
.spot-details-images-wrapper{
    min-width: 100%;
    max-height: 50vh;
    display: flex;
    gap: 0.35rem;
    border-radius: 10px;
    overflow: hidden;
}
.spot-details-preview-image{
    min-width: 50%;
    min-height: 100%;
    display: flex;
}
.spot-details-preview {
    min-width: 100%;
    min-height: 100%;
    flex-grow: 1;
}

.spot-details-other-images{
    display: flex;
    flex-wrap: wrap;
    min-width: 50%;
    min-height: 50%;
    gap: 0.35rem;
}
.spot-details-other-image{
    width: 49%;
    height: 50%;
    box-sizing: border-box;
    flex-grow: 1;
 }

 /* Spot Detail body right Column */
.spot-details-body-rightCol{
    min-width: 35%;
    margin-top: 4rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    padding-bottom: 2rem;
}

.booking-wrapper{
    /* margin: 1rem 1rem 0 3rem; */
    max-height: 350px;
    min-width: 300px;
    border-radius: 15px;
    padding: 1rem;
    position: sticky;
    top: 120px;
    border: 1px solid rgb(224, 224, 224);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(118 118 118/0.2);
}
.booking-wrapper > span {
    color: rgb(174, 173, 173);
}
 .empty-div{
    background-color: yellow;
 }
 @media (max-width: 1110px) {
    .spot-details-wrapper{
        max-width: 980px;
    }
 }

  @media (max-width: 990px) {
    .spot-details-wrapper {
        max-width: 800px;
    }
}

@media (max-width: 810px) {
    .spot-details-wrapper {
        max-width: 650px;
    }
}
@media(max-width: 660px){
    .spot-details-wrapper{
        max-width: 500px;
    }
}
