.account-page-wrapper{
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

#first-last-name{
    font-size: 1.5rem;
    font-weight:400 ;
}

#email{
    font-size: 1.2rem;
    font-weight: 300;
    color: rgb(135, 135, 135);
}

.account-options{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.account-reviews{
    cursor: pointer;
}

.account-spots{
cursor: pointer;
}

.show{
    border-bottom: 2px solid black;
}

.account-display-wrapper{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.account-display-reviews{
    padding: 1rem;
    max-width: 550px;
    min-height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 0px 10px rgba(118 118 118/0.4);
}

.account-display-bookings{
    padding: 1rem;
    width: 50%;
    min-width: 500px;
    height: 200px;
    border-radius: 20px;
    border: 1px solid rgb(208, 208, 208);
    box-shadow: 0px 0px 10px rgba(118 118 118/0.4);
    display: flex;
    gap: 1rem;
}

#review-rating{
    max-width: 320px;
}
#review-content-and-preview{
    display: flex;
    justify-content: space-between;
}

.account-review-title{
    color: rgb(231, 136, 136);
}

.account-page-review-stars-label{
    cursor: pointer;
}
.account-page-review-stars{
    display: none;
    cursor: pointer;
}


.account-page-review-textarea{
    resize: none;
    width: 336px;
    height: 84px;
    border: none;
    padding: 3px;
    border-radius: 8px;
}


.account-page-review-textarea:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.account-page-review-image{
    height: 100%;
    width: 179px;
    cursor: pointer;
}
.account-page-booking-image-wrapper{
    display: flex;
    gap: 1rem;
    height: 106px;
}
.account-page-booking-image{
    height: 100%;
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
}
.delete-account-review{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}

.delete-account-review > button{
    border: none;
    background-color: white;
    cursor: pointer;
}

.delete-account-review>button:hover{
    color: red;
}


.error-account-review {
    color: red;
    font-size: 14px;
    padding: 0;
    height: 1rem;
}

#spot-name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#account-page-how-many-reviews{
    color: gray
}

#account-page-total-review{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 0.8rem;
}

#your-trip{
    font-weight: bold;
    font-size: 1.5rem;
}
#booking-dates{
    font-weight: bold;
    font-size: 1.3rem;
}
#booking-date{
    font-weight: 300;
    font-size: 1.2rem;
}

#account-booking-date-info{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    min-width: fit-content;
    width: 30%;
}

.account-booking-edit-button{
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}
