.single-spot-card-wrapper{
    height: 350px;
    width: 280px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 2%;
    cursor: pointer;
}
.single-card-previewImage{
    max-width: 100%;
    height: 70%;
    border-radius: 10px;
}

.card-row{
    margin-bottom: 0.5rem;
}

.single-card-row1{
    margin-top: 1rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    color: black;
}

.single-card-row2{
    color: #717171;
    font-size: 1em;
}

.single-card-row4 > span{
    font-weight: 600;
    color: black;
}
.single-card-row4{
    font-size: 15px;
    color: black;
    font-weight: 300;
}
