.allSpots-wrapper{
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3.5rem;
    margin-top: 120px;
    padding: 0 4.5%;
    box-sizing: border-box;
    border: 1px solid green;
}
