.navbar-wrapper{
    border-bottom: 1px solid rgba(118 118 118/0.2);
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding: 17px 4.5%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: white;
    z-index: 1;

}

.search-modal-active{
    z-index: 20;
}
.navbar-content{
    display: flex;
    align-items: center;
    width: 100%;
    /* min-width: fit-content; */
}

.nav-bar-component{
    flex: 1 0 140px;
}

.image-link-home{
    cursor: pointer;
    height: 45px;
    width: 100px;
    display: flex;
    align-items: center;

}
.navbar-max-width{
    max-width: 1120px;
}
.nav-bar-loggedIn{
    justify-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    height: 60px;
    /* border: 1px solid red; */
}
.become-host{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    width: 150px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    border-radius: 37px;
}
.become-host:hover{
    background-color: rgb(244, 244, 244);
}
.nav-dropped-down{
    height: 150px;
    width: 200px;
    position: fixed;
    /* right: 4.5%; */
    font-size: 1rem;
    top: 80px;
    border: 1px solid rgba(118 118 118/0.2);
    border-radius: 10px;
    list-style-type: none;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0px 0px 10px rgba(118 118 118/0.2);
    transform: translateX(-65%);
    padding-top: 10px;
}
.nav-dropped-down-li{
    height: 40px;
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    cursor: pointer;

}
.nav-dropped-down-li:hover{
    background-color: rgba(118 118 118/0.1);
}
.navbar-button{
    width: 80px;
    height: 40px;
    padding: 0 7px;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #717171;
    background-color: white;
    border-radius: 30px;
    border: 0.1px solid rgb(118 118 118);
}
.navbar-button:hover{
    box-shadow: 0px 5px 2px rgba(118 118 118/0.2);
}
.navbar-button:focus{
    box-shadow: 0px 5px 2px rgba(118 118 118/0.2);
}

.fa-bars{
    font-size: 16px;
    padding-left: 10px;
    color: black;
}

.signed-in{
    align-items: center;
    justify-content: center;
}
.logout-button:hover{
    color: red
}
.signedin-li{
    font-size: 14px;
    padding-left: 10px;
}

.fa-sharp{
    font-size: 20px;
}

.account-nav-link{
    color: #717171;
    text-decoration: none;
}

.start-search-button{
    cursor: pointer;
    border: thin solid rgba(118 118 118/0.2);
    min-width: fit-content;
    width: 300px;
    height: 48px;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
    box-shadow: 0px 0px 10px rgba(118 118 118/0.2);
}
.start-your-search{
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
    min-width: fit-content;
}

.magnifying-glass{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff385c;
    color: white;
    font-weight: bold;
}
